body
{
    color: rgb(218, 0, 238);
    background: rgb(175, 253, 159);
}

.heading
{
    width: 80%;
    font-size: 22px;
}

#camera
{
    border: 2px;
    width: 350px;
    height: 300px;
}

.name_of_objects, #result_object_name  , #result_object_accuracy
{
    color: rgb(243, 77, 155);
}